@import "fontello.css";

/* GENERAL *********************************/

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #fff;
}

/* CONTAINER ********************************/

.container {
  background-color: rgb(230, 236, 236);
  border-radius: 10px;
  border-top-right-radius: 0;
  height: 500px;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

/* Top Area- Top Menu ***********************************/

.container_navTopArea {
  display: flex;
  width: 100%;
  position: relative;
  /* background-color: rgb(233, 233, 149); */
}

.container_navTopArea_navTopMenu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: -50px;
  top: -34px;
  width: 100%;
  color: rgb(141, 153, 158);
  /* background-color: rgb(245, 215, 242); */
}
.container_navTopArea_navTopMenu a:hover {
  background-color: rgb(242, 242, 242);
  color: rgb(133, 10, 116);
  transition: all 1.5s ease;
}

.container_navTopArea_navTopMenu li a {
  padding: 0 30px;
}

/* Middle Area *********************************/

.container_navMiddleArea {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  /* align-items: center; */
  justify-content: right;
  /* padding-top: 50px; */
  /* overflow: hidden; */
  /* background-color: rgb(218, 238, 218); */
}

.container_navMiddleArea_contents {
  /* display: none; */
  width: 80%;
  /* height: 50%; */
  /* background-color: rgb(202, 150, 150); */
  display: flex;
  /* justify-content: center; */
  /* padding-top: 30px; */
  padding-left: 30px;
  position: relative;
}

.container_navMiddleArea_contents div {
  transition: all 2s ease;
  position: absolute;
  left: 3px;
}

.container_navMiddleArea_contents div:target {
  color: rgb(230, 236, 236);
}

#container_navMiddleArea_contents_design {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(252, 252, 230); */
  color: rgb(230, 236, 236);
  width: 10%;
  height: 10%;
  opacity: 0;
}

#container_navMiddleArea_contents_design:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

#container_navMiddleArea_contents_wedding {
  /* display: none; */
  color: rgb(230, 236, 236);
  width: 10%;
  height: 10%;
  opacity: 0;
}

#container_navMiddleArea_contents_wedding:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

#container_navMiddleArea_contents_engagement {
  display: none;
}

#container_navMiddleArea_contents_engagement:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

#container_navMiddleArea_contents_sunnet {
  display: none;
}

#container_navMiddleArea_contents_sunnet:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

#container_navMiddleArea_contents_opening {
  display: none;
}

#container_navMiddleArea_contents_opening:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

#container_navMiddleArea_contents_organization {
  display: none;
}

#container_navMiddleArea_contents_organization:target {
  color: rgb(105, 112, 112);
  background-color: rgb(242, 242, 242);
  opacity: 1;
  display: flex;
  width: calc(100% - 3px);
  height: 100%;
}

/* Logo ******************************************/

.container_navMiddleArea_logo {
  width: 25%;
  position: absolute;
  top: -47px;
  left: -66px;
  transform: rotate(-18deg);
  /* background-color: rgb(165, 160, 161); */
}

/* Bottom Area **********************************/

.container_navBottomArea {
  display: flex;
  width: 100%;
  height: 20px;
  position: relative;
  background-color: rgb(84, 84, 84);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container_navBottomArea_socialMedia {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: -11px;
  font-size: 0.75em;
  /* background-color: rgb(240, 250, 248); */
}

.container_navBottomArea_socialMedia li {
  position: relative;
}

.container_navBottomArea_socialMedia li a {
  color: #fff;
}

.container_navBottomArea_socialMedia li a::before {
  font-family: "fontello";
  margin-left: -15px;
  top: 1px;
  position: absolute;
}

.container_navBottomArea_socialMedia li:nth-child(1) a::before {
  content: "\f304";
}

.container_navBottomArea_socialMedia li:nth-child(2) a::before {
  content: "\f230";
}

.container_navBottomArea_socialMedia li:nth-child(3) a::before {
  content: "\f32d";
}
