* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #fff;
}

.container {
  background-color: rgb(230, 236, 236);
  border-radius: 10px;
  border-top-right-radius: 0;
  height: 500px;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.container_navTopArea {
  display: flex;
  width: 100%;
  position: relative;
  /* background-color: rgb(233, 233, 149); */
}

.container_navTopArea_navTopMenu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: -34px;
  width: 100%;
  color: rgb(141, 153, 158);
  /* background-color: rgb(245, 215, 242); */
}
.container_navTopArea_navTopMenu a:hover {
  background-color: rgb(230, 236, 236);
  color: rgb(133, 10, 116);
  transition-duration: 0.9s;
}

.container_navTopArea_navTopMenu li a {
  padding: 0 30px;
}

.container_navMiddleArea {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  /* background-color: rgb(218, 238, 218); */
}

.container_navMiddleArea_logo {
  width: 25%;
  position: absolute;
  top: -47px;
  left: -66px;
  transform: rotate(-18deg);
  /* background-color: rgb(165, 160, 161); */
}

.container_navBottomArea {
  display: flex;
  width: 100%;
  height: 20px;
  position: relative;
  background-color: rgb(84, 84, 84);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container_navBottomArea_socialMedia {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: -11px;
  font-size: 0.85em;
  /* background-color: rgb(240, 250, 248); */
}
.container_navBottomArea_socialMedia li a {
  color: #fff;
}
